.container {
  margin: 1rem 0;

  color: var(--primary-500);

  align-self: flex-end;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  span {
    margin: 0 0.25rem;
  }
  a {
    margin: 0 0.25rem;
  }
}
