.postContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  img {
    border-radius: 4px;
    width: 100%;
  }
  h1 {
    font-size: 2em;
    margin-top: 1rem;
  }
  h2 {
    font-size: 1.75em;
  }
  h3 {
    font-size: 1.5em;
  }
}
.infoContainer {
  font-size: small;
  color: var(--info-500);

  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 720px) {
    flex-direction: column;
  }

  div {
    display: flex;
    align-items: center;
    margin: 0.25rem;

    svg {
      margin-right: 0.5rem;
    }
  }
}
.subtitle {
  margin: 1rem 0;
}
.content {
  width: 100%;

  h1 {
    margin: 2rem 0;
  }
  h2 {
    margin: 1.5rem 0;
  }
  h3 {
    margin: 1.5rem 0;
  }
  p {
    margin: 0.75rem 0;
    img + em {
      display: block;
      text-align: center;
    }
  }
  ul {
    margin: 0.75rem 2rem;
  }
  img {
    margin: 1.5rem;
    max-width: 90%;
    box-shadow: 1px 6px 10px 6px var(--background-300);
    -webkit-box-shadow: 1px 6px 10px 6px var(--background-300);
    -moz-box-shadow: 1px 6px 10px 6px var(--background-300);
  }
  pre {
    margin: 1rem;
    font-size: 0.75em;
  }

  blockquote {
    border-left: 0.5rem solid var(--background-300);
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    background-color: var(--background-400);
  }
}
