*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
#root,
#__next {
  isolation: isolate;
}
:root {
  --white: #fff;
  --gray-100: #e1e1e6;
  --gray-300: #a8a8b3;
  --gray-700: #323238;
  --gray-800: #3c3c41;
  --gray-850: #1f2729;
  --gray-900: #121214;

  --cyan-500: #61dafb;
  --yellow-500: #eba417;

  --primary-500: #f11f15;
  --primary-400: #ac2335;
  --background-500: #220054;
  --background-400: #322074;
  --background-300: #4300a8;
  --text-500: #f1eecd;
  --info-500: #bdaaae;
  --info-400: #fdccae;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: var(--background-500);
  color: var(--text-500);
}

body,
input,
textarea,
select,
button {
  font: 400 1rem 'Montserrat', sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  border: 0;
}

a {
  color: var(--primary-500);
  text-decoration: none;

  transition: color 2.2s;
  &:hover {
    filter: brightness(0.8);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-500);
  font-family: 'Mukta', sans-serif;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
