.headerContainer {
  padding: 0 2rem;
  height: 8rem;
  background: linear-gradient(to bottom, var(--background-300), var(--background-500));
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 3rem;
  font-family: 'Kaushan Script';
}
.socialMedia {
  a {
    margin: 0 0.5rem;
  }
}
